#page {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 190px 1fr 50px;
  grid-template-columns: 250px 1fr;
}

#page>header {
  grid-area: head;
  border-style:groove;
  background-image: url(./images/logos.jpg);
  opacity: .7;

}

#page>nav {
  grid-area: nav;
  background-color: rgb(22, 20, 20);
  border-radius: 1px;
  color: white;
  background-size: 140%;
  display: block;
}

#page>main {
  background-color: black;
  gap: 20px;
  width: 100%;
  display: grid;

}

#page>footer {
  grid-area: foot;
  background-color: #313644;
  color: white;
  text-align:center;
line-height: 50px;
}


.card-container {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav {
  background-color: #060606;
  float: left;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 17px;

}
.rightnav {
  background-color: whitesmoke;
  color: purple;
  float: right;
  text-align: center;
  padding: 45px 15px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;

}