#page {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-areas:
      "head head"
      "nav  main"
      "nav  foot";
    grid-template-rows: 95px 1fr 40px;
    grid-template-columns: 200px 1fr;
  }
  
  #page > header {
    grid-area: head;
    background-color: #121213;
    border-radius: 20px;
    background-image: url(./images/logos.jpg);
    
  }
  
  #page > nav {
    grid-area: nav;
    background-color: black;
    border-radius:1px;
   color: white;
    background-size: 140%;
    display: block;
  }
  
  #page > main {
    grid-area: main;
    background-image: linear-gradient(to left top, #3d72af, #008ac1, #009eb0, #00ad7d, #40b533);
    height: 60rem;
    border-radius:1px;
    justify-content: space-between;
    display: -moz-grid-group;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
    
  }
  #page > footer {
    grid-area: foot;
    background-color:#313644;
    color: white;
    text-align: center;
  }
  .box {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}   
.card1 {
  background-image: linear-gradient(0deg, #A2D2FF 5%, #6930c3 70%);
  border: solid 1px rgb(239, 118, 225);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  float: left;
  margin: auto;
  height: 65vh;
}
.card2 {
  background-image: linear-gradient(0deg, #A2D2FF 5%, #6930c3 70%);
  border: solid 1px rgb(239, 118, 225);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  float: right;
  margin: auto;
  height: 65vh;
}